body {
    padding: 20px;
    height: 500px;
    background-image: linear-gradient(to right,#295270,#524175);
    font-family: Poppins; 

}

.upper-body-main-container {
    margin-top: 50px;
}

.upper-body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upper-body-space {
    height: 50px;
    width: 50px;
    padding-top: 160px;
}

.upper-body-name {
    width: 500px;
    height: 100px;
    font-size: 100px;
    text-align: center;
    letter-spacing: -9px;
    color: white;
    font-weight: bold;
    font-family: Arial,Roboto;
}

.upper-body-name:hover, .upper-body-occ:hover  {
    color: #fcc1cf;
    cursor: pointer;
}

.upper-body-occ {
    margin-top: 5px;
    color: white;
    width: 500px;
    height: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.upper-body-space2 {
    height: 60px;
    width: 50px;
    padding-top: 160px;
    margin-top: 10px;
}

.lower-body-space {
    margin-top: 120px;
    background-color: red;
    margin-bottom: 20px;
}

.projects-image {
    width: 500px;
    border-radius: 5px;
   
}

.projects-image-container {
    border-radius: 10px;
    margin-left: 30px;
}

.projects-main-container {
    margin-top: 100px;
   
}

.projects-container {
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    margin-right: 70px;
}

.projects-title {
    width: 526px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 1px;
    padding-bottom: 5px;
}

.projects-descr {
    color: rgb(204, 201, 201);
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 0;
}
